
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("HeadPartial", "Default")
<body id="page-top">
    <!-- Navigation-->
    @Html.Action("NavbarPartial", "Default")
    <!-- Masthead-->
    @Html.Action("FeaturePartial", "Default")
    <!-- Services-->
    @Html.Action("ServicePartial", "Default")
    <!-- Portfolio Grid-->
    @Html.Action("ProjectPartial", "Default")
    <!-- About-->
    @Html.Action("AboutPartial", "Default")
    <!-- Team-->
    @Html.Action("TeamPartial", "Default")
    <!-- Clients-->
    @Html.Action("ClientPartial", "Default")
    <!-- Contact-->
    @Html.Action("MessagePartial", "Default")

    @Html.Action("MapPartial", "Default")

    <!-- Footer-->
    @Html.Action("FooterPartial", "Default")
    <!-- Portfolio Modals-->
    <!-- Portfolio item 1 modal popup-->
    @Html.Action("ModalPartial", "Default")
    @Html.Action("JSPartial", "Default")
</body>
</html>

